table {
  border-collapse: collapse;
}

table th, table td {
  border: solid 1px black;
}

table th {
  padding: 10px;
}

table td {
  padding: 3px 10px;
}

table tr td:nth-of-type(1){
  text-align:center;
}
